
services:
    postgres:
        image: postgres:15
        container_name: rsd_db
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
        ports:
            - "${DB_PORT}:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - rsd_network
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
            interval: 5s
            timeout: 5s
            retries: 5
    backend:
        build: ./backend
        command: >
            sh -c "cd app/alembic && alembic upgrade head &&
                cd .. && cd .. &&
                python server.py"
            

        container_name: rsd_backend
        environment:
            DB_HOST: ${DB_HOST}
            DB_PORT: ${DB_PORT}
            DB_USER: ${DB_USER}
            DB_PASSWORD: ${DB_PASSWORD}
            DB_NAME: ${DB_NAME}
            SECRET_KEY: ${SECRET_KEY}
            ALGORITHM: ${ALGORITHM}
        ports:
            - '8000:8000'
        depends_on:
            postgres:
                condition: service_healthy
        networks:
            - rsd_network
        volumes:
            - ./backend:/backend
            - /app/__pycache__

networks:
  rsd_network:
    driver: bridge

volumes:
    postgres_data:
